/* ==UserStyle==
@name         Gmail inbox high contrast restoration
@namespace    https://github.com/wolfpeyton
@author       Peyton Wolf
@version      1.0.0
@homepageURL  https://github.com/wolfpeyton/gmail-inbox-high-contrast-restoration-stylus
==/UserStyle== */

@-moz-document domain("mail.google.com") {
/* Fix rounded corners: email list */
.bkK > .nH {
    border-radius: 0px !important;
}

/* Quick settings panel */
.IU {
    border-radius: 0px !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    margin-left: 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

/* Font-size for categories */
.qh {
    font-size: 14px !important;
}

/* Font and spacing adjustments */
.n3 > .CL > .CK,
.TO .nU > .n0,
.TO.nZ .nU > .n0,
.ah9 > .CJ,
.yW,
.zA > .a4W,
.aiD,
.aeU .ma,
.l6 {
    letter-spacing: 0.2px !important;
}

body,
input,
textarea,
select {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
}

:not(.z0 > .L3, .Bn, .ha > .hP, .gH.acX > .L3.bsQ, .gH.acX > .L3.bsQ *, .amn > .ams, .T-I-atl, .T-I-atl *, .Q0, .Q0 *, .OD, .dt, .v .f1, .v .f1 *, .v .fZ, .v .fZ *, .Wr, .Wr *, .J-N, .J-N *, span[style*="font-family:"], font[face]) {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
}

/* Compose button */
:is(:not(.aJu, .bym) > .aBO, .WR > .aic) .z0 > .L3 {
    border-radius: 24px !important;
    height: 48px !important;
    color: rgb(217, 48, 37) !important;
    background-color: white !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

:is(:not(.aJu, .bym) > .aBO, .WR > .aic) .z0 > .L3:active,
:is(:not(.aJu, .bym) > .aBO, .WR > .aic) .z0 > .L3:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149) !important;
    background-color: #fafafb !important;
}

:is(:not(.aJu, .bym) > .aBO, .WR > .aic) .z0 > .L3::before {
    filter: invert(17%) sepia(79%) saturate(4564%) hue-rotate(356deg) brightness(96%) contrast(77%);
}

/* Pop-out reply fix */
.nH .Hy .m {
    background-color: rgb(64, 64, 64) !important;
}
.Hp {
    color: white !important;
}
.zu {
    color: rgb(189, 193, 198) !important;
}
.Hm {
    filter: invert(1);
}

/* Chrome scrollbar fix */
.tf::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

/* Buttons - reply, forward */
.amr .amn > .ams {
    border: none !important;
}
.amn > .ams:active {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149) !important;
}
.amn > .ams {
    border-radius: 4px !important;
    color: rgb(95, 99, 104) !important;
    box-shadow: inset 0 0 0 1px #dadce0 !important;
}
.amn > .ams::after {
    border-radius: 4px !important;
}

/* Send button */
.v7.T-I-atl {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.T-I-atl {
    background-color: rgb(26, 115, 232) !important;
}
.T-I-atl:hover {
    background-color: rgb(41, 123, 230) !important;
}
.hG.T-I {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.hG.T-I-atl {
    border-left-color: rgb(24, 90, 188) !important;
}
.dC {
    border-radius: 4px !important;
}

/* Send + archive button */
.gU .btA .Uo {
    border-radius: 4px !important;
}
.gU .btA .v7.T-I {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.btA .btz.T-I-ax7,
.hG.v6.T-I-ax7 {
    border-color: rgb(95, 99, 104) !important;
}
.Up .BW + .dC,
.dC .hG.v6.T-I-ax7 {
    box-shadow: rgb(218, 220, 224) 0px 0px 0px 1px inset !important;
}

/* Reply subwindow */
.HM .I5 {
    border-radius: 8px !important;
}

/* Settings button */
.Tj {
    border-radius: 4px !important;
}

/* Email list color variables */
html {
    --inbox-tab-bg: rgba(255, 255, 255, 0.9);
    --read-mail-bg: rgba(242, 245, 245, 0.8);
    --unread-mail-bg: rgba(255, 255, 255, 0.9);
    --separator-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
}

/* Apply inbox background color */
.bkK > .nH,
.bkK > .nH table[id^=":"] {
    background-color: transparent !important;
}

.bkK > .nH .aKh,
.bkK > .nH .qd {
    background-color: var(--inbox-tab-bg) !important;
}
.yO:not(.x7, .aps) {
    background-color: var(--read-mail-bg) !important;
}
.zE:not(.x7) {
    background-color: var(--unread-mail-bg) !important;
}
.G-Ni,
.Wg,
.l2,
.aBS,
.ar5 {
    filter: var(--dark-text-invert-filter);
}

/* Horizontal separators */
.aiw,
.G-atb::before,
.Wg {
    box-shadow: var(--separator-box-shadow) !important;
}

/* Sidebar themes (example for default light theme) */
html {
    --focus-box-bg: rgb(232, 234, 237);
    --hover-box-bg: rgb(241, 243, 244);
    --active-box-bg: rgb(232, 234, 237);
    --focus-inbox-text: rgb(32, 33, 36);
    --search-bar-bg: rgb(241, 243, 244);
    --collapsed-sidebar-bg: white;
}

/* Apply sidebar theme */
.nZ.aiq,
.ol,
.CL:not(.V6):focus,
.n6 > span:focus {
    background-color: var(--focus-box-bg) !important;
    box-shadow: var(--focus-box-shadow, none) !important;
}
.TO.NQ,
.CL:not(.V6):hover,
.n6 > span:hover {
    background-color: var(--hover-box-bg) !important;
}
.TO.NQ:active,
.CL:not(.V6):active,
.n6 > span:active {
    background-color: var(--active-box-bg) !important;
}
form.aJf:not([class*=" aJf gb_"]) {
    background-color: var(--search-bar-bg) !important;
}
.bhZ.bym {
    background-color: var(--collapsed-sidebar-bg) !important;
}

/* Active inbox */
.nZ.aBP {
    background-color: var(--focus-inbox-bg, var(--focus-box-bg)) !important;
}
.nZ.aBP * {
    color: var(--focus-inbox-text) !important;
}
.nZ.aBP .qj {
    filter: var(--focus-inbox-filter);
}

/* Right sidebar */
.bAw .brC-aMv-auO.brC-aT5-aOt-Jw {
    border-left: 1px solid rgba(255, 255, 255, 0.12) !important;
}
.bAw .brC-aT5-aOt-Jw {
    border-left: 1px solid #f1f3f4 !important;
}
.bAw .brC-aMv-bta.brC-aT5-aOt-Jw {
    border-left: 1px solid rgba(100, 121, 143, .12) !important;
}
}
